

// color scheme

$primary-color: #6c2313;
$secondary-color: #f7efe4;
$third-color: #e0bc94;
$light-accent: #e9d4bd;
$dark-accent: #501a14;
$red-accent: #B63B2E;



$accent-font: "cc-smash", sans-serif;
$body-font: "tenon", sans-serif;
$header-font: "Bayon", sans-serif;


$nav-height: 120px;