@use '../../../scss/abstracts/variables';

.mapMarker {
    width: 150px;
    height: 150px;

    background-image: url('../../../assets/graphics/fizz-fix-bottle-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}