
// variables import
@use "./abstracts/variables" as *;


.glass {
    background-color: rgba($secondary-color, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


.hidden {
    display: none;
}